<article>
  <a id="comment_<%= comment.id %>" href="#comment_<%= comment.id %>">
    <%= gravatar_for(comment) %>
  </a>
  <header>
  <time datetime="<%= comment.created_at %>" 
        title="<%= comment.created_at.localtime %>">
      <%= time_ago_in_words(comment.created_at) %> ago
    </time>
    <h1>by 
      <%= link_to_unless comment.url.blank?, comment.name, {}, :href => comment.url %> 
    </h1>
  </header>
  <div>
    <%= comment.body %>
  </div>
</article>
